* {
    margin: 0;
    padding: 0;
}
.banner {
    background-image: url("./images/cphoto-1575380591643-b2c92368dc6d.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.banner > h1 {
    font-size: 5rem;
    color: white;
}
.nav {
    display: flex;
    justify-content: center;
}
.body {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main {
    display: flex;
}
.main > img {
    width: 200px;
    border-radius: 50%;
    float: right;
}
.colorMe {
    color: white !important;
}
.colorMe:hover {
    color: black !important;
}